# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.env

# SQLite
*.db
*.db-journal
backups/

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
